# 忽略 node_modules 和依赖包
node_modules/
oh modules/

# 忽略开发工具相关配置
.idea/

# 忽略编译输出
build/
entry/build/

# 忽略本地属性文件
local.properties

# 忽略操作系统文件
.DS_Store
Thumbs.db

# 忽略日志文件
*.log

# 忽略其他不必要的文件和目录
.hvigor/
entry/.preview/

# 包含特定需要版本控制的文件和目录
!/entry/src/
!/entry/module.json5
!/entry/ohosTest/
!/entry/build-profile.json5
!/entry/hvigorfile.ts
!/entry/oh-package.json5

# 如果你有特定需要包含的文件，可以在这里添加例外规则
# !<path_to_include>

# 忽略根目录下的打包配置和编译脚本文件
/build-profile.json5
/hvigorfile.ts
/hvigorw
/hvigorw.bat
/oh-package.json5
/oh-package-lock.json5

# 确保包含 AppScope 中需要的资源文件
!/AppScope/resources/
